<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.jessefarebro.mqtt"
	android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk android:minSdkVersion="14" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

	<receiver android:name=".MyReceiver" android:enabled="true" android:exported="false">
		<intent-filter>
			<action android:name="android.intent.action.BOOT_COMPLETED" />
		</intent-filter>
	</receiver>
	<service android:name="com.jessefarebro.mqtt.MqttService" android:exported="true" />

</manifest>
